.container {
  margin: 10vh auto;
  max-width: 1200px;
  padding: 2rem;
  @media (min-width: 550px) {
    height: calc(100vh - 2rem);
  }
  h3 {
    font-family: var(--font-header);
    text-align: center;
    font-size: 2.5rem;
  }
}

.bio {
  display: flex;
  align-items: center;
  flex-direction: column;
  @media (min-width: 900px) {
    flex-direction: row;
  }
}

.image {
  position: relative;
  display: block;
  max-width: 500px;
  width: calc(90% - 2rem);
  flex-shrink: 0;
  height: calc(80vw - 2rem);
  @media (min-width: 549px) {
    height: 500px;
  }
  img {
    position: absolute;
    transition: opacity 3s ease;
    width: 100%;
  }
  &:hover .hover {
    opacity: 1;
  }
  .hover {
    opacity: 0;
    z-index: 1;
  }
}

.blurp {
  padding: 0 2rem;
  font-size: 1.5rem;
  @media (min-width: 550px) {
    font-size: 2rem;
  }
}