.container {
  margin: 10vh auto;
  max-width: 1200px;
  padding: 2rem;
  @media (min-width: 550px) {
    height: calc(100vh - 2rem);
    min-height: 1000px;
  }
  h3 {
    font-family: var(--font-header);
    text-align: center;
      font-size: 2.5rem;
  }
}

.bio {
  display: flex;
  align-items: center;
  @media (max-width: 549px) {
    flex-direction: column;
  }
  img {
        max-width: 90vw;
  }
}

.blurp {
  padding: 0 2rem;
  font-size: 1.5rem;
  @media (min-width: 550px) {
    font-size: 2rem;
  }
}