.box {
  @media (min-width: 550px) {
    height: calc(100vh - 2rem);
  }
}

.container {
  margin: 10vh auto;
  max-width: 1200px;
  padding: 1rem;
  @media (min-width: 550px) {
  padding: 2rem;
  }
  h3 {
    font-family: var(--font-header);
    text-align: center;
    font-size: 2.5rem;
  }
}