:root {
  --font-main: "franklin-gothic-condensed", sans-serif;
  --font-header: "freight-big-pro", serif;
  --color-main: #E39FC8;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-main);
  background-color: var(--color-main);
  color: #000;
}

a {
  color: currentColor;
}